@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 0 20px 0;

  .top {
    width: max-content;
    margin-inline: auto;
    font-weight: bold;
    font-size: 30px;
  }

  .login_box {
    margin-inline: auto;
    display: flex;
  }

  .login_box form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    width: 350px;
    padding: 20px;
    .user_input {
      display: flex;
      flex-direction: column;
    }
    .user_input input {
      position: relative;
      height: 45px;
      width: 100%;
      padding: 5px;
      border: none;
      border-bottom: 2px solid black;
      background-color: transparent;
      font-size: 20px;
      text-indent: 10px;
    }

    .user_input {
      position: relative;
      label {
        top: 25%;
        left: 5%;
        transform: translate(-25%, -5%);
        position: absolute;
        font-size: 20px;
        transition: 0.5s all ease;
        background-color: transparent;
        padding-left: 10px;
      }
      input:focus {
        outline: none;
      }
    }
    .fg {
      text-align: right;
      a {
        text-decoration: none;
        color: #0009;
      }
      a:hover {
        color: black;
      }
    }
    .sign-in_btn {
      padding: 10px 20px;
      width: 50%;
      margin-inline: auto;
      border-radius: 10px;
      border: none;
    }
    .sign-in_btn:hover {
      transform: scale(1.2);
      color: white;
      font-size: 15px;
      background-color: black;
      transition: all 0.2s ease-in-out;
    }
    .sign_up {
      text-align: center;
      a {
        text-decoration: none;
        color: #0009;
      }
      a:hover {
        font-size: 15px;
        color: black;
        transition: all 0.2s ease;
      }
    }
  }
}

.fp-block {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("./bg image/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.fp-container {
  text-align: center;
  border-radius: 15px;
  padding: 25px;
  width: 350px;
  height: 50%;
  background-color: #ffffff69;
  backdrop-filter: blur(15px);
}

.fp-form {
  display: block;
  input {
    width: 100%;
    height: 20px;
    padding: 15px 0;
    font-size: 18px;
    outline: none;
    text-indent: 10px;
    border-radius: 10px;
    border: 0.5px solid #0009;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
  }
  button {
    display: flex;
    margin-inline: auto;
    align-items: center;
    gap: 5px;
    width: 80%;
    padding: 10px 10px;
    justify-content: center;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s ease-in-out;

  }
  button:hover {
    transform: scale(1.2);
    color: white;
    font-size: 15px;
    background-color: black;
    transition: all 0.2s ease-in-out;
    letter-spacing: 5px;
  }
}

.otp-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;
  input{
    width:50px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    text-align: center;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}

.disableButton{
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

#loading_icon{
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}